div {
    padding-bottom: 10px;
}

.successButton {
    height: 35px;
    width: 100px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #3399ff;
    cursor: pointer;
}

input {
    height: 30px;
    width: 250px;
    font-size: 16px;
}

label {
    font-size: 16px;
}

a {
    font-size: 16px;
    width: 30px;
    height: 30px;
    padding: inherit;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: rgb(55, 53, 47) !important;
}

a:hover {
    background-color: #f2f2f2;
}